In [1]:
import pandas as pd
import numpy as np

In [2]:
df = pd.read_csv('player_plus_team.csv')
df.head()

,Unnamed: 0,Player,Pos,Team_Name,Year,Sum_PassingYds,Avg_PassingYds,Sum_PassingTD,Avg_PassingTD,Sum_Int,...,Tgt_prop,RecYds_prop,RecTD_prop,PPRFP_prop,Bad_Games,Good_Games,Great_Games,Section1_Fpts,Section2_Fpts,Section3_Fpts
0,0,A.J. Brown,WR,Titans,2019,0.0,0.0,0.0,0.0,0.0,...,0.206897,0.266548,0.296296,0.150722,7.0,4.0,5.0,53.3,59.6,104.2
1,1,Adam Humphries,WR,Titans,2019,0.0,0.0,0.0,0.0,0.0,...,0.115764,0.094852,0.074074,0.060053,9.0,3.0,NaN,40.0,38.2,8.3
2,2,Anthony Firkser,TE,Titans,2019,0.0,0.0,0.0,0.0,0.0,...,0.054187,0.051737,0.037037,0.028048,7.0,1.0,NaN,3.5,23.6,13.3
3,3,Cody Hollister,WR,Titans,2019,0.0,0.0,0.0,0.0,0.0,...,0.004926,0.003297,0.000000,0.002291,1.0,NaN,NaN,NaN,NaN,3.3
4,4,Corey Davis,WR,Titans,2019,0.0,0.0,0.0,0.0,0.0,...,0.162562,0.152422,0.074074,0.079908,12.0,NaN,2.0,45.7,36.6,32.8

In [11]:
print(df['Year'].min())
print(df['Year'].max())

2010
2021

In [3]:
col_lst = df.columns.tolist()
print(len(col_lst))


remove_Cols = ['Unnamed: 0', 'Player', 'Pos', 'Team_Name', 'Year']
oput_Cols = [item for item in col_lst if item not in remove_Cols]
print(len(oput_Cols))

60
55

In [4]:
year_lst = df['Year'].unique()
year_lst.sort()
year_lst

array([2010, 2011, 2012, 2013, 2014, 2015, 2016, 2017, 2018, 2019, 2020,
       2021])

In [5]:
len(year_lst)

12

In [6]:
    # leaving room for -3 years
current_yr_lst = [2013, 2014, 2015, 2016, 2017, 2018, 2019, 2020, 2021]

In [7]:
for year in current_yr_lst:
    years_lst = [year - 3, year - 2, year - 1]
    print(years_lst)

[2010, 2011, 2012]
[2011, 2012, 2013]
[2012, 2013, 2014]
[2013, 2014, 2015]
[2014, 2015, 2016]
[2015, 2016, 2017]
[2016, 2017, 2018]
[2017, 2018, 2019]
[2018, 2019, 2020]

# Creating initial dataframe for 2022 as current year

In [22]:
current_year = 2022
years_lst = [2019, 2020, 2021]
df_temp = df[df['Year'].isin(years_lst)]

print(df_temp['Year'].unique())

pivot_df_full = df_temp.pivot_table(values = oput_Cols
                              ,index = ['Player', 'Team_Name', 'Pos']
                              ,columns = 'Year'
                             )

pivot_df_full['Current_Year'] = current_year

    # renaming the columns to be able to concatenate them later!
pivot_df_full.columns.set_levels(['year - 1', 'year - 2', 'year - 3', ''], level = 1, inplace = True)

pivot_df_full.head()

[2019 2020 2021]

/var/folders/62/cn_0j04n3_vbymfpfvfjjbr40000gn/T/ipykernel_30144/3143626311.py:15: FutureWarning: inplace is deprecated and will be removed in a future version.
  pivot_df_full.columns.set_levels(['year - 1', 'year - 2', 'year - 3', ''], level = 1, inplace = True)

                             Avg_Cmp                     Avg_FL            \
Year                        year - 1 year - 2 year - 3 year - 1  year - 2
Player        Team_Name Pos
A.J. Brown    Titans    WR       0.0      0.0      0.0      0.0  0.071429
A.J. Green    Bengals   WR       NaN      0.0      NaN      NaN  0.000000
              Cardinals WR       NaN      NaN      0.0      NaN       NaN
A.J. McCarron Texans    QB      10.5      0.5      NaN      0.0  0.000000
AJ Dillon     Packers   RB       NaN      0.0      0.0      NaN  0.000000

                                       Avg_Int                    \
Year                         year - 3 year - 1 year - 2 year - 3
Player        Team_Name Pos
A.J. Brown    Titans    WR   0.000000      0.0      0.0      0.0
A.J. Green    Bengals   WR        NaN      NaN      0.0      NaN
              Cardinals WR   0.000000      NaN      NaN      0.0
A.J. McCarron Texans    QB        NaN      0.5      0.0      NaN
AJ Dillon     Packers   RB   0.058824      NaN      0.0      0.0

                            Avg_PPRFantasyPoints  ... Team_Tgt           \
Year                                    year - 1  ... year - 1 year - 2
Player        Team_Name Pos                       ...
A.J. Brown    Titans    WR              13.56875  ...    406.0    462.0
A.J. Green    Bengals   WR                   NaN  ...      NaN    563.0
              Cardinals WR                   NaN  ...      NaN      NaN
A.J. McCarron Texans    QB               8.45000  ...    509.0    500.0
AJ Dillon     Packers   RB                   NaN  ...      NaN    492.0

                                      Tgt_prop                      \
Year                        year - 3  year - 1  year - 2  year - 3
Player        Team_Name Pos
A.J. Brown    Titans    WR     435.0  0.206897  0.229437  0.241379
A.J. Green    Bengals   WR       NaN       NaN  0.184725       NaN
              Cardinals WR     482.0       NaN       NaN  0.190871
A.J. McCarron Texans    QB       NaN  0.000000  0.000000       NaN
AJ Dillon     Packers   RB     555.0       NaN  0.002033  0.066667

                            Weeks_Played                   Current_Year
Year                            year - 1 year - 2 year - 3
Player        Team_Name Pos
A.J. Brown    Titans    WR          16.0     14.0     13.0         2022
A.J. Green    Bengals   WR           NaN     16.0      NaN         2022
              Cardinals WR           NaN      NaN     16.0         2022
A.J. McCarron Texans    QB           2.0      2.0      NaN         2022
AJ Dillon     Packers   RB           NaN     10.0     17.0         2022

[5 rows x 166 columns]

In [23]:
pivot_df_full['Current_Year'].unique()

array([2022])

In [24]:
pivot_df_full.columns.levels[1]

Index(['year - 1', 'year - 2', 'year - 3', ''], dtype='object', name='Year')

# For loop to append other prior years

In [25]:
for year in current_yr_lst:
    years_lst = [year - 3, year - 2, year - 1]
        
    print("For years: ", years_lst)
        # temp dataframe with only the years we want
    df_temp = df[df['Year'].isin(years_lst)]
    
    pivot_df_temp = df_temp.pivot_table(values = oput_Cols
                                  ,index = ['Player', 'Team_Name', 'Pos']
                                  ,columns = 'Year'
                                 )
    
    pivot_df_temp['Current_Year'] = year
    
    pivot_df_temp.columns.set_levels(['year - 1', 'year - 2', 'year - 3', ''], level = 1, inplace = True)
    
    pivot_df_full = pd.concat([pivot_df_full, pivot_df_temp])
    
    print("--- Completed ---")
    print("\n")

For years:  [2010, 2011, 2012]
--- Completed ---


For years:  [2011, 2012, 2013]
--- Completed ---


For years:  [2012, 2013, 2014]
--- Completed ---


For years:  [2013, 2014, 2015]
--- Completed ---


For years:  [2014, 2015, 2016]
--- Completed ---


For years:  [2015, 2016, 2017]
--- Completed ---


For years:  [2016, 2017, 2018]
--- Completed ---


For years:  [2017, 2018, 2019]
--- Completed ---


For years:  [2018, 2019, 2020]
--- Completed ---

/var/folders/62/cn_0j04n3_vbymfpfvfjjbr40000gn/T/ipykernel_30144/2025030922.py:15: FutureWarning: inplace is deprecated and will be removed in a future version.
  pivot_df_temp.columns.set_levels(['year - 1', 'year - 2', 'year - 3', ''], level = 1, inplace = True)

# Sanity Checks

In [26]:
pivot_df_full.head()

                             Avg_Cmp                     Avg_FL            \
Year                        year - 1 year - 2 year - 3 year - 1  year - 2
Player        Team_Name Pos
A.J. Brown    Titans    WR       0.0      0.0      0.0      0.0  0.071429
A.J. Green    Bengals   WR       NaN      0.0      NaN      NaN  0.000000
              Cardinals WR       NaN      NaN      0.0      NaN       NaN
A.J. McCarron Texans    QB      10.5      0.5      NaN      0.0  0.000000
AJ Dillon     Packers   RB       NaN      0.0      0.0      NaN  0.000000

                                       Avg_Int                    \
Year                         year - 3 year - 1 year - 2 year - 3
Player        Team_Name Pos
A.J. Brown    Titans    WR   0.000000      0.0      0.0      0.0
A.J. Green    Bengals   WR        NaN      NaN      0.0      NaN
              Cardinals WR   0.000000      NaN      NaN      0.0
A.J. McCarron Texans    QB        NaN      0.5      0.0      NaN
AJ Dillon     Packers   RB   0.058824      NaN      0.0      0.0

                            Avg_PPRFantasyPoints  ... Team_Tgt           \
Year                                    year - 1  ... year - 1 year - 2
Player        Team_Name Pos                       ...
A.J. Brown    Titans    WR              13.56875  ...    406.0    462.0
A.J. Green    Bengals   WR                   NaN  ...      NaN    563.0
              Cardinals WR                   NaN  ...      NaN      NaN
A.J. McCarron Texans    QB               8.45000  ...    509.0    500.0
AJ Dillon     Packers   RB                   NaN  ...      NaN    492.0

                                      Tgt_prop                      \
Year                        year - 3  year - 1  year - 2  year - 3
Player        Team_Name Pos
A.J. Brown    Titans    WR     435.0  0.206897  0.229437  0.241379
A.J. Green    Bengals   WR       NaN       NaN  0.184725       NaN
              Cardinals WR     482.0       NaN       NaN  0.190871
A.J. McCarron Texans    QB       NaN  0.000000  0.000000       NaN
AJ Dillon     Packers   RB     555.0       NaN  0.002033  0.066667

                            Weeks_Played                   Current_Year
Year                            year - 1 year - 2 year - 3
Player        Team_Name Pos
A.J. Brown    Titans    WR          16.0     14.0     13.0         2022
A.J. Green    Bengals   WR           NaN     16.0      NaN         2022
              Cardinals WR           NaN      NaN     16.0         2022
A.J. McCarron Texans    QB           2.0      2.0      NaN         2022
AJ Dillon     Packers   RB           NaN     10.0     17.0         2022

[5 rows x 166 columns]

In [32]:
pivot_df_full['Current_Year'].unique()

array([2022, 2013, 2014, 2015, 2016, 2017, 2018, 2019, 2020, 2021])

In [38]:
pivot_df_full.columns.levels[0]

Index(['Avg_Cmp', 'Avg_FL', 'Avg_Int', 'Avg_PPRFantasyPoints',
       'Avg_PassingAtt', 'Avg_PassingTD', 'Avg_PassingYds', 'Avg_Rec',
       'Avg_ReceivingTD', 'Avg_ReceivingYds', 'Avg_RushingAtt',
       'Avg_RushingTD', 'Avg_RushingYds', 'Avg_Tgt', 'Bad_Games', 'Cmp_prop',
       'Good_Games', 'Great_Games', 'PPRFP_prop', 'PassAtt_prop',
       'PassTD_prop', 'Pass_prop', 'RecTD_prop', 'RecYds_prop', 'Rec_prop',
       'RushingAtt_prop', 'RushingTD_prop', 'RushingYds_prop', 'Section1_Fpts',
       'Section2_Fpts', 'Section3_Fpts', 'Sum_Cmp', 'Sum_FL', 'Sum_Int',
       'Sum_PPRFantasyPoints', 'Sum_PassingAtt', 'Sum_PassingTD',
       'Sum_PassingYds', 'Sum_Rec', 'Sum_ReceivingTD', 'Sum_ReceivingYds',
       'Sum_RushingAtt', 'Sum_RushingTD', 'Sum_RushingYds', 'Sum_Tgt',
       'Team_PPRFantasyPoints', 'Team_Rec', 'Team_ReceivingTD',
       'Team_ReceivingYds', 'Team_RushingAtt', 'Team_RushingTD',
       'Team_RushingYds', 'Team_Tgt', 'Tgt_prop', 'Weeks_Played',
       'Current_Year'],
      dtype='object')

In [39]:
len(pivot_df_full.columns.levels[0])

56

In [41]:
len(oput_Cols) #added current year column myself so should be one less than column count above

55

In [34]:
pivot_df_full.columns.levels[1]

Index(['year - 1', 'year - 2', 'year - 3', ''], dtype='object', name='Year')

In [61]:
    # unique positions
pivot_df_full.index.unique().levels[2]

Index(['QB', 'RB', 'TE', 'WR'], dtype='object', name='Pos')

In [64]:
    # unique teams should be 32
print(pivot_df_full.index.unique().levels[1])
print(len(pivot_df_full.index.unique().levels[1]))

Index(['49ers', 'Bears', 'Bengals', 'Bills', 'Broncos', 'Browns', 'Buccaneers',
       'Cardinals', 'Chargers', 'Chiefs', 'Colts', 'Cowboys', 'Dolphins',
       'Eagles', 'Falcons', 'Football Team', 'Giants', 'Jaguars', 'Jets',
       'Lions', 'Packers', 'Panthers', 'Patriots', 'Raiders', 'Rams', 'Ravens',
       'Saints', 'Seahawks', 'Steelers', 'Texans', 'Titans', 'Vikings'],
      dtype='object', name='Team_Name')
32

In [65]:
pivot_df_full.index.unique().levels[0]

Index(['A.J. Brown', 'A.J. Derby', 'A.J. Feeley', 'A.J. Green', 'A.J. Jenkins',
       'A.J. McCarron', 'AJ Dillon', 'Aaron Brown', 'Aaron Burbridge',
       'Aaron Dobson',
       ...
       'Zach Miller', 'Zach Pascal', 'Zach Potter', 'Zach Sudfeld',
       'Zach Wilson', 'Zach Zenner', 'Zack Moss', 'Zack Pianalto', 'Zay Jones',
       'Zurlon Tipton'],
      dtype='object', name='Player', length=1854)

In [70]:
    # all the original players are represented in this pivoted dataframe
assert len(df['Player'].unique()) == len(pivot_df_full.index.unique().levels[0])

# Saving output file

In [71]:
#pivot_df_full.to_excel('pivoted_player_plus_team_data.xlsx')

In [72]:
pivot_df_full_copy = pivot_df_full.copy()

In [73]:
pivot_df_full = pivot_df_full.fillna(0)
pivot_df_full.head()

                             Avg_Cmp                     Avg_FL            \
Year                        year - 1 year - 2 year - 3 year - 1  year - 2
Player        Team_Name Pos
A.J. Brown    Titans    WR       0.0      0.0      0.0      0.0  0.071429
A.J. Green    Bengals   WR       0.0      0.0      0.0      0.0  0.000000
              Cardinals WR       0.0      0.0      0.0      0.0  0.000000
A.J. McCarron Texans    QB      10.5      0.5      0.0      0.0  0.000000
AJ Dillon     Packers   RB       0.0      0.0      0.0      0.0  0.000000

                                       Avg_Int                    \
Year                         year - 3 year - 1 year - 2 year - 3
Player        Team_Name Pos
A.J. Brown    Titans    WR   0.000000      0.0      0.0      0.0
A.J. Green    Bengals   WR   0.000000      0.0      0.0      0.0
              Cardinals WR   0.000000      0.0      0.0      0.0
A.J. McCarron Texans    QB   0.000000      0.5      0.0      0.0
AJ Dillon     Packers   RB   0.058824      0.0      0.0      0.0

                            Avg_PPRFantasyPoints  ... Team_Tgt           \
Year                                    year - 1  ... year - 1 year - 2
Player        Team_Name Pos                       ...
A.J. Brown    Titans    WR              13.56875  ...    406.0    462.0
A.J. Green    Bengals   WR               0.00000  ...      0.0    563.0
              Cardinals WR               0.00000  ...      0.0      0.0
A.J. McCarron Texans    QB               8.45000  ...    509.0    500.0
AJ Dillon     Packers   RB               0.00000  ...      0.0    492.0

                                      Tgt_prop                      \
Year                        year - 3  year - 1  year - 2  year - 3
Player        Team_Name Pos
A.J. Brown    Titans    WR     435.0  0.206897  0.229437  0.241379
A.J. Green    Bengals   WR       0.0  0.000000  0.184725  0.000000
              Cardinals WR     482.0  0.000000  0.000000  0.190871
A.J. McCarron Texans    QB       0.0  0.000000  0.000000  0.000000
AJ Dillon     Packers   RB     555.0  0.000000  0.002033  0.066667

                            Weeks_Played                   Current_Year
Year                            year - 1 year - 2 year - 3
Player        Team_Name Pos
A.J. Brown    Titans    WR          16.0     14.0     13.0         2022
A.J. Green    Bengals   WR           0.0     16.0      0.0         2022
              Cardinals WR           0.0      0.0     16.0         2022
A.J. McCarron Texans    QB           2.0      2.0      0.0         2022
AJ Dillon     Packers   RB           0.0     10.0     17.0         2022

[5 rows x 166 columns]

In [74]:
pivot_df_full.to_csv('pivoted_player_plus_team_data.csv')

In [75]:
pivot_df_full_copy.head()

                             Avg_Cmp                     Avg_FL            \
Year                        year - 1 year - 2 year - 3 year - 1  year - 2
Player        Team_Name Pos
A.J. Brown    Titans    WR       0.0      0.0      0.0      0.0  0.071429
A.J. Green    Bengals   WR       NaN      0.0      NaN      NaN  0.000000
              Cardinals WR       NaN      NaN      0.0      NaN       NaN
A.J. McCarron Texans    QB      10.5      0.5      NaN      0.0  0.000000
AJ Dillon     Packers   RB       NaN      0.0      0.0      NaN  0.000000

                                       Avg_Int                    \
Year                         year - 3 year - 1 year - 2 year - 3
Player        Team_Name Pos
A.J. Brown    Titans    WR   0.000000      0.0      0.0      0.0
A.J. Green    Bengals   WR        NaN      NaN      0.0      NaN
              Cardinals WR   0.000000      NaN      NaN      0.0
A.J. McCarron Texans    QB        NaN      0.5      0.0      NaN
AJ Dillon     Packers   RB   0.058824      NaN      0.0      0.0

                            Avg_PPRFantasyPoints  ... Team_Tgt           \
Year                                    year - 1  ... year - 1 year - 2
Player        Team_Name Pos                       ...
A.J. Brown    Titans    WR              13.56875  ...    406.0    462.0
A.J. Green    Bengals   WR                   NaN  ...      NaN    563.0
              Cardinals WR                   NaN  ...      NaN      NaN
A.J. McCarron Texans    QB               8.45000  ...    509.0    500.0
AJ Dillon     Packers   RB                   NaN  ...      NaN    492.0

                                      Tgt_prop                      \
Year                        year - 3  year - 1  year - 2  year - 3
Player        Team_Name Pos
A.J. Brown    Titans    WR     435.0  0.206897  0.229437  0.241379
A.J. Green    Bengals   WR       NaN       NaN  0.184725       NaN
              Cardinals WR     482.0       NaN       NaN  0.190871
A.J. McCarron Texans    QB       NaN  0.000000  0.000000       NaN
AJ Dillon     Packers   RB     555.0       NaN  0.002033  0.066667

                            Weeks_Played                   Current_Year
Year                            year - 1 year - 2 year - 3
Player        Team_Name Pos
A.J. Brown    Titans    WR          16.0     14.0     13.0         2022
A.J. Green    Bengals   WR           NaN     16.0      NaN         2022
              Cardinals WR           NaN      NaN     16.0         2022
A.J. McCarron Texans    QB           2.0      2.0      NaN         2022
AJ Dillon     Packers   RB           NaN     10.0     17.0         2022

[5 rows x 166 columns]