In [1]:
import pandas as pd
import numpy as np

In [2]:
df = pd.read_csv('player_plus_team.csv')
df.head()

,Unnamed: 0,Player,Pos,Team_Name,Year,Sum_PassingYds,Avg_PassingYds,Sum_PassingTD,Avg_PassingTD,Sum_Int,...,Tgt_prop,RecYds_prop,RecTD_prop,PPRFP_prop,Bad_Games,Good_Games,Great_Games,Section1_Fpts,Section2_Fpts,Section3_Fpts
0,0,A.J. Brown,WR,Titans,2019,0.0,0.0,0.0,0.0,0.0,...,0.206897,0.266548,0.296296,0.150722,7.0,4.0,5.0,53.3,59.6,104.2
1,1,Adam Humphries,WR,Titans,2019,0.0,0.0,0.0,0.0,0.0,...,0.115764,0.094852,0.074074,0.060053,9.0,3.0,NaN,40.0,38.2,8.3
2,2,Anthony Firkser,TE,Titans,2019,0.0,0.0,0.0,0.0,0.0,...,0.054187,0.051737,0.037037,0.028048,7.0,1.0,NaN,3.5,23.6,13.3
3,3,Cody Hollister,WR,Titans,2019,0.0,0.0,0.0,0.0,0.0,...,0.004926,0.003297,0.000000,0.002291,1.0,NaN,NaN,NaN,NaN,3.3
4,4,Corey Davis,WR,Titans,2019,0.0,0.0,0.0,0.0,0.0,...,0.162562,0.152422,0.074074,0.079908,12.0,NaN,2.0,45.7,36.6,32.8

In [3]:
df.shape

(6156, 60)

In [4]:
len(df['Player'].unique())

1854

In [5]:
df_team_names_latest = df.loc[df.groupby('Player')['Year'].agg(pd.Series.idxmax)][['Player', 'Team_Name']]
df_team_names_latest.rename(columns = {'Team_Name': 'Max_Team_Name'}, inplace = True)
print(df_team_names_latest.shape)
df_team_names_latest.head()

(1854, 2)

           Player Max_Team_Name
37     A.J. Brown        Titans
57     A.J. Derby      Dolphins
73    A.J. Feeley          Rams
225    A.J. Green     Cardinals
257  A.J. Jenkins        Chiefs

In [6]:
df = df.merge(df_team_names_latest, on = 'Player', how = 'left')
print(df.shape)
df.head()

(6156, 61)

,Unnamed: 0,Player,Pos,Team_Name,Year,Sum_PassingYds,Avg_PassingYds,Sum_PassingTD,Avg_PassingTD,Sum_Int,...,RecYds_prop,RecTD_prop,PPRFP_prop,Bad_Games,Good_Games,Great_Games,Section1_Fpts,Section2_Fpts,Section3_Fpts,Max_Team_Name
0,0,A.J. Brown,WR,Titans,2019,0.0,0.0,0.0,0.0,0.0,...,0.266548,0.296296,0.150722,7.0,4.0,5.0,53.3,59.6,104.2,Titans
1,1,Adam Humphries,WR,Titans,2019,0.0,0.0,0.0,0.0,0.0,...,0.094852,0.074074,0.060053,9.0,3.0,NaN,40.0,38.2,8.3,Football Team
2,2,Anthony Firkser,TE,Titans,2019,0.0,0.0,0.0,0.0,0.0,...,0.051737,0.037037,0.028048,7.0,1.0,NaN,3.5,23.6,13.3,Titans
3,3,Cody Hollister,WR,Titans,2019,0.0,0.0,0.0,0.0,0.0,...,0.003297,0.000000,0.002291,1.0,NaN,NaN,NaN,NaN,3.3,Titans
4,4,Corey Davis,WR,Titans,2019,0.0,0.0,0.0,0.0,0.0,...,0.152422,0.074074,0.079908,12.0,NaN,2.0,45.7,36.6,32.8,Jets

In [7]:
df[df['Player'] == 'Adrian Peterson']

,Unnamed: 0,Player,Pos,Team_Name,Year,Sum_PassingYds,Avg_PassingYds,Sum_PassingTD,Avg_PassingTD,Sum_Int,...,RecYds_prop,RecTD_prop,PPRFP_prop,Bad_Games,Good_Games,Great_Games,Section1_Fpts,Section2_Fpts,Section3_Fpts,Max_Team_Name
850,850,Adrian Peterson,RB,Vikings,2014,0.0,0.0,0.0,0.0,0.0,...,0.005433,0.000000,0.009897,NaN,1.0,NaN,11.3,NaN,NaN,Lions
865,865,Adrian Peterson,RB,Vikings,2015,0.0,0.0,0.0,0.0,0.0,...,0.074247,0.000000,0.234582,4.0,5.0,7.0,78.1,123.6,59.0,Lions
878,878,Adrian Peterson,RB,Vikings,2016,0.0,0.0,0.0,0.0,0.0,...,0.002134,0.000000,0.007691,3.0,NaN,NaN,7.7,NaN,1.3,Lions
1037,1037,Adrian Peterson,RB,Football Team,2018,0.0,0.0,0.0,0.0,0.0,...,0.068783,0.071429,0.178994,9.0,3.0,4.0,70.5,77.0,41.5,Lions
1059,1059,Adrian Peterson,RB,Football Team,2019,0.0,0.0,0.0,0.0,0.0,...,0.044458,0.000000,0.134259,7.0,7.0,1.0,35.8,43.3,67.9,Lions
1076,1076,Adrian Peterson,RB,Lions,2020,0.0,0.0,0.0,0.0,0.0,...,0.026357,0.000000,0.092429,11.0,3.0,2.0,50.4,36.8,37.3,Lions
1091,1091,Adrian Peterson,RB,Vikings,2010,0.0,0.0,0.0,0.0,0.0,...,0.108772,0.083333,0.263088,3.0,5.0,7.0,104.6,116.1,55.2,Lions
1106,1106,Adrian Peterson,RB,Vikings,2011,0.0,0.0,0.0,0.0,0.0,...,0.042704,0.050000,0.167669,3.0,4.0,5.0,110.6,77.1,19.2,Lions
1124,1124,Adrian Peterson,RB,Vikings,2012,0.0,0.0,0.0,0.0,0.0,...,0.074647,0.055556,0.288675,1.0,3.0,12.0,94.8,120.3,130.3,Lions
1139,1139,Adrian Peterson,RB,Vikings,2013,0.0,0.0,0.0,0.0,0.0,...,0.047540,0.058824,0.181655,5.0,1.0,8.0,101.6,99.6,31.5,Lions

In [8]:
print(df['Year'].min())
print(df['Year'].max())

2010
2021

In [9]:
col_lst = df.columns.tolist()
print(len(col_lst))


remove_Cols = ['Unnamed: 0', 'Player', 'Pos', 'Team_Name', 'Year', 'Max_Team_Name']
oput_Cols = [item for item in col_lst if item not in remove_Cols]
print(len(oput_Cols))

61
55

In [10]:
year_lst = df['Year'].unique()
year_lst.sort()
year_lst

array([2010, 2011, 2012, 2013, 2014, 2015, 2016, 2017, 2018, 2019, 2020,
       2021])

In [11]:
len(year_lst)

12

In [12]:
    # leaving room for -3 years
current_yr_lst = [2013, 2014, 2015, 2016, 2017, 2018, 2019, 2020, 2021]

In [13]:
for year in current_yr_lst:
    years_lst = [year - 3, year - 2, year - 1]
    print(years_lst)

[2010, 2011, 2012]
[2011, 2012, 2013]
[2012, 2013, 2014]
[2013, 2014, 2015]
[2014, 2015, 2016]
[2015, 2016, 2017]
[2016, 2017, 2018]
[2017, 2018, 2019]
[2018, 2019, 2020]

# Creating initial dataframe for 2022 as current year

In [14]:
current_year = 2022
years_lst = [2019, 2020, 2021]
df_temp = df[df['Year'].isin(years_lst)]

print(df_temp['Year'].unique())

pivot_df_full = df_temp.pivot_table(values = oput_Cols
                              ,index = ['Player', 'Max_Team_Name', 'Pos']
                              ,columns = 'Year'
                             )

pivot_df_full['Current_Year'] = current_year

    # renaming the columns to be able to concatenate them later!
pivot_df_full.columns.set_levels(['year - 3', 'year - 2', 'year - 1', ''], level = 1, inplace = True)

pivot_df_full.head()

[2019 2020 2021]

/var/folders/62/cn_0j04n3_vbymfpfvfjjbr40000gn/T/ipykernel_33124/3546454870.py:15: FutureWarning: inplace is deprecated and will be removed in a future version.
  pivot_df_full.columns.set_levels(['year - 3', 'year - 2', 'year - 1', ''], level = 1, inplace = True)

                                 Avg_Cmp                     Avg_FL            \
Year                            year - 3 year - 2 year - 1 year - 3  year - 2
Player        Max_Team_Name Pos
A.J. Brown    Titans        WR       0.0      0.0      0.0    0.000  0.071429
A.J. Green    Cardinals     WR       NaN      0.0      0.0      NaN  0.000000
A.J. McCarron Texans        QB      10.5      0.5      NaN    0.000  0.000000
AJ Dillon     Packers       RB       NaN      0.0      0.0      NaN  0.000000
Aaron Jones   Packers       RB       0.0      0.0      0.0    0.125  0.000000

                                           Avg_Int                    \
Year                             year - 1 year - 3 year - 2 year - 1
Player        Max_Team_Name Pos
A.J. Brown    Titans        WR   0.000000      0.0      0.0      0.0
A.J. Green    Cardinals     WR   0.000000      NaN      0.0      0.0
A.J. McCarron Texans        QB        NaN      0.5      0.0      NaN
AJ Dillon     Packers       RB   0.058824      NaN      0.0      0.0
Aaron Jones   Packers       RB   0.066667      0.0      0.0      0.0

                                Avg_PPRFantasyPoints  ... Team_Tgt           \
Year                                        year - 3  ... year - 3 year - 2
Player        Max_Team_Name Pos                       ...
A.J. Brown    Titans        WR              13.56875  ...    406.0    462.0
A.J. Green    Cardinals     WR                   NaN  ...      NaN    563.0
A.J. McCarron Texans        QB               8.45000  ...    509.0    500.0
AJ Dillon     Packers       RB                   NaN  ...      NaN    492.0
Aaron Jones   Packers       RB              19.67500  ...    509.0    492.0

                                          Tgt_prop                      \
Year                            year - 1  year - 3  year - 2  year - 1
Player        Max_Team_Name Pos
A.J. Brown    Titans        WR     435.0  0.206897  0.229437  0.241379
A.J. Green    Cardinals     WR     482.0       NaN  0.184725  0.190871
A.J. McCarron Texans        QB       NaN  0.000000  0.000000       NaN
AJ Dillon     Packers       RB     555.0       NaN  0.002033  0.066667
Aaron Jones   Packers       RB     555.0  0.131631  0.128049  0.117117

                                Weeks_Played                   Current_Year
Year                                year - 3 year - 2 year - 1
Player        Max_Team_Name Pos
A.J. Brown    Titans        WR          16.0     14.0     13.0         2022
A.J. Green    Cardinals     WR           NaN     16.0     16.0         2022
A.J. McCarron Texans        QB           2.0      2.0      NaN         2022
AJ Dillon     Packers       RB           NaN     10.0     17.0         2022
Aaron Jones   Packers       RB          16.0     14.0     15.0         2022

[5 rows x 166 columns]

In [15]:
pivot_df_full['Current_Year'].unique()

array([2022])

In [16]:
pivot_df_full.loc['Adrian Peterson'][['Sum_Rec', 'Sum_RushingTD', 'Current_Year']]

                   Sum_Rec                   Sum_RushingTD                    \
Year              year - 3 year - 2 year - 1      year - 3 year - 2 year - 1
Max_Team_Name Pos
Lions         RB      17.0     12.0      NaN           5.0      7.0      NaN

                  Current_Year
Year
Max_Team_Name Pos
Lions         RB          2022

In [17]:
df_temp[df_temp['Player'] == 'Adrian Peterson'][['Player', 'Pos', 'Team_Name', 'Year', 'Sum_Rec', 'Sum_RushingTD']]

               Player Pos      Team_Name  Year  Sum_Rec  Sum_RushingTD
1059  Adrian Peterson  RB  Football Team  2019     17.0            5.0
1076  Adrian Peterson  RB          Lions  2020     12.0            7.0

In [18]:
pivot_df_full.columns.levels[1]

Index(['year - 3', 'year - 2', 'year - 1', ''], dtype='object', name='Year')

# For loop to append other prior years

In [19]:
for year in current_yr_lst:
    years_lst = [year - 3, year - 2, year - 1]
        
    print("For years: ", years_lst)
        # temp dataframe with only the years we want
    df_temp = df[df['Year'].isin(years_lst)]
    
    pivot_df_temp = df_temp.pivot_table(values = oput_Cols
                                  ,index = ['Player', 'Max_Team_Name', 'Pos']
                                  ,columns = 'Year'
                                 )
    
    pivot_df_temp['Current_Year'] = year
    
    pivot_df_temp.columns.set_levels(['year - 3', 'year - 2', 'year - 1', ''], level = 1, inplace = True)
    
    pivot_df_full = pd.concat([pivot_df_full, pivot_df_temp])
    
    print("--- Completed ---")
    print("\n")

For years:  [2010, 2011, 2012]
--- Completed ---


For years:  [2011, 2012, 2013]
--- Completed ---


For years:  [2012, 2013, 2014]
--- Completed ---


For years:  [2013, 2014, 2015]
--- Completed ---


For years:  [2014, 2015, 2016]
--- Completed ---


For years:  [2015, 2016, 2017]
--- Completed ---


For years:  [2016, 2017, 2018]
--- Completed ---


For years:  [2017, 2018, 2019]
--- Completed ---


For years:  [2018, 2019, 2020]
--- Completed ---

/var/folders/62/cn_0j04n3_vbymfpfvfjjbr40000gn/T/ipykernel_33124/3138695684.py:15: FutureWarning: inplace is deprecated and will be removed in a future version.
  pivot_df_temp.columns.set_levels(['year - 3', 'year - 2', 'year - 1', ''], level = 1, inplace = True)

# Sanity Checks

In [20]:
pivot_df_full.head()

                                 Avg_Cmp                     Avg_FL            \
Year                            year - 3 year - 2 year - 1 year - 3  year - 2
Player        Max_Team_Name Pos
A.J. Brown    Titans        WR       0.0      0.0      0.0    0.000  0.071429
A.J. Green    Cardinals     WR       NaN      0.0      0.0      NaN  0.000000
A.J. McCarron Texans        QB      10.5      0.5      NaN    0.000  0.000000
AJ Dillon     Packers       RB       NaN      0.0      0.0      NaN  0.000000
Aaron Jones   Packers       RB       0.0      0.0      0.0    0.125  0.000000

                                           Avg_Int                    \
Year                             year - 1 year - 3 year - 2 year - 1
Player        Max_Team_Name Pos
A.J. Brown    Titans        WR   0.000000      0.0      0.0      0.0
A.J. Green    Cardinals     WR   0.000000      NaN      0.0      0.0
A.J. McCarron Texans        QB        NaN      0.5      0.0      NaN
AJ Dillon     Packers       RB   0.058824      NaN      0.0      0.0
Aaron Jones   Packers       RB   0.066667      0.0      0.0      0.0

                                Avg_PPRFantasyPoints  ... Team_Tgt           \
Year                                        year - 3  ... year - 3 year - 2
Player        Max_Team_Name Pos                       ...
A.J. Brown    Titans        WR              13.56875  ...    406.0    462.0
A.J. Green    Cardinals     WR                   NaN  ...      NaN    563.0
A.J. McCarron Texans        QB               8.45000  ...    509.0    500.0
AJ Dillon     Packers       RB                   NaN  ...      NaN    492.0
Aaron Jones   Packers       RB              19.67500  ...    509.0    492.0

                                          Tgt_prop                      \
Year                            year - 1  year - 3  year - 2  year - 1
Player        Max_Team_Name Pos
A.J. Brown    Titans        WR     435.0  0.206897  0.229437  0.241379
A.J. Green    Cardinals     WR     482.0       NaN  0.184725  0.190871
A.J. McCarron Texans        QB       NaN  0.000000  0.000000       NaN
AJ Dillon     Packers       RB     555.0       NaN  0.002033  0.066667
Aaron Jones   Packers       RB     555.0  0.131631  0.128049  0.117117

                                Weeks_Played                   Current_Year
Year                                year - 3 year - 2 year - 1
Player        Max_Team_Name Pos
A.J. Brown    Titans        WR          16.0     14.0     13.0         2022
A.J. Green    Cardinals     WR           NaN     16.0     16.0         2022
A.J. McCarron Texans        QB           2.0      2.0      NaN         2022
AJ Dillon     Packers       RB           NaN     10.0     17.0         2022
Aaron Jones   Packers       RB          16.0     14.0     15.0         2022

[5 rows x 166 columns]

In [21]:
pivot_df_full['Current_Year'].unique()

array([2022, 2013, 2014, 2015, 2016, 2017, 2018, 2019, 2020, 2021])

In [22]:
pivot_df_full.columns.levels[0]

Index(['Avg_Cmp', 'Avg_FL', 'Avg_Int', 'Avg_PPRFantasyPoints',
       'Avg_PassingAtt', 'Avg_PassingTD', 'Avg_PassingYds', 'Avg_Rec',
       'Avg_ReceivingTD', 'Avg_ReceivingYds', 'Avg_RushingAtt',
       'Avg_RushingTD', 'Avg_RushingYds', 'Avg_Tgt', 'Bad_Games', 'Cmp_prop',
       'Good_Games', 'Great_Games', 'PPRFP_prop', 'PassAtt_prop',
       'PassTD_prop', 'Pass_prop', 'RecTD_prop', 'RecYds_prop', 'Rec_prop',
       'RushingAtt_prop', 'RushingTD_prop', 'RushingYds_prop', 'Section1_Fpts',
       'Section2_Fpts', 'Section3_Fpts', 'Sum_Cmp', 'Sum_FL', 'Sum_Int',
       'Sum_PPRFantasyPoints', 'Sum_PassingAtt', 'Sum_PassingTD',
       'Sum_PassingYds', 'Sum_Rec', 'Sum_ReceivingTD', 'Sum_ReceivingYds',
       'Sum_RushingAtt', 'Sum_RushingTD', 'Sum_RushingYds', 'Sum_Tgt',
       'Team_PPRFantasyPoints', 'Team_Rec', 'Team_ReceivingTD',
       'Team_ReceivingYds', 'Team_RushingAtt', 'Team_RushingTD',
       'Team_RushingYds', 'Team_Tgt', 'Tgt_prop', 'Weeks_Played',
       'Current_Year'],
      dtype='object')

In [23]:
len(pivot_df_full.columns.levels[0])

56

In [24]:
len(oput_Cols) #added current year column myself so should be one less than column count above

55

In [25]:
pivot_df_full.columns.levels[1]

Index(['year - 3', 'year - 2', 'year - 1', ''], dtype='object', name='Year')

In [26]:
    # unique positions
pivot_df_full.index.unique().levels[2]

Index(['QB', 'RB', 'TE', 'WR'], dtype='object', name='Pos')

In [27]:
    # unique teams should be 32
print(pivot_df_full.index.unique().levels[1])
print(len(pivot_df_full.index.unique().levels[1]))

Index(['49ers', 'Bears', 'Bengals', 'Bills', 'Broncos', 'Browns', 'Buccaneers',
       'Cardinals', 'Chargers', 'Chiefs', 'Colts', 'Cowboys', 'Dolphins',
       'Eagles', 'Falcons', 'Football Team', 'Giants', 'Jaguars', 'Jets',
       'Lions', 'Packers', 'Panthers', 'Patriots', 'Raiders', 'Rams', 'Ravens',
       'Saints', 'Seahawks', 'Steelers', 'Texans', 'Titans', 'Vikings'],
      dtype='object', name='Max_Team_Name')
32

In [28]:
pivot_df_full.index.unique().levels[0]

Index(['A.J. Brown', 'A.J. Derby', 'A.J. Feeley', 'A.J. Green', 'A.J. Jenkins',
       'A.J. McCarron', 'AJ Dillon', 'Aaron Brown', 'Aaron Burbridge',
       'Aaron Dobson',
       ...
       'Zach Miller', 'Zach Pascal', 'Zach Potter', 'Zach Sudfeld',
       'Zach Wilson', 'Zach Zenner', 'Zack Moss', 'Zack Pianalto', 'Zay Jones',
       'Zurlon Tipton'],
      dtype='object', name='Player', length=1854)

In [29]:
    # all the original players are represented in this pivoted dataframe
assert len(df['Player'].unique()) == len(pivot_df_full.index.unique().levels[0])

In [30]:
pivot_df_full.loc['Adrian Peterson'][['Sum_Rec', 'Sum_RushingTD', 'Current_Year']]

                   Sum_Rec                   Sum_RushingTD                    \
Year              year - 3 year - 2 year - 1      year - 3 year - 2 year - 1
Max_Team_Name Pos
Lions         RB      17.0     12.0      NaN           5.0      7.0      NaN
              RB      36.0     18.0     40.0          12.0     12.0     12.0
              RB      18.0     40.0     29.0          12.0     12.0     10.0
              RB      40.0     29.0      2.0          12.0     10.0      0.0
              RB      29.0      2.0     30.0          10.0      0.0     11.0
              RB       2.0     30.0      3.0           0.0     11.0      0.0
              RB      30.0      3.0      NaN          11.0      0.0      NaN
              RB       3.0      NaN     20.0           0.0      NaN      7.0
              RB       NaN     20.0     17.0           NaN      7.0      5.0
              RB      20.0     17.0     12.0           7.0      5.0      7.0

                  Current_Year
Year
Max_Team_Name Pos
Lions         RB          2022
              RB          2013
              RB          2014
              RB          2015
              RB          2016
              RB          2017
              RB          2018
              RB          2019
              RB          2020
              RB          2021

# Saving output file

In [ ]:
#pivot_df_full.to_excel('pivoted_player_plus_team_data.xlsx')

In [32]:
pivot_df_full_copy = pivot_df_full.copy()

In [33]:
pivot_df_full = pivot_df_full.fillna(0)
pivot_df_full.head()

                                 Avg_Cmp                     Avg_FL            \
Year                            year - 3 year - 2 year - 1 year - 3  year - 2
Player        Max_Team_Name Pos
A.J. Brown    Titans        WR       0.0      0.0      0.0    0.000  0.071429
A.J. Green    Cardinals     WR       0.0      0.0      0.0    0.000  0.000000
A.J. McCarron Texans        QB      10.5      0.5      0.0    0.000  0.000000
AJ Dillon     Packers       RB       0.0      0.0      0.0    0.000  0.000000
Aaron Jones   Packers       RB       0.0      0.0      0.0    0.125  0.000000

                                           Avg_Int                    \
Year                             year - 1 year - 3 year - 2 year - 1
Player        Max_Team_Name Pos
A.J. Brown    Titans        WR   0.000000      0.0      0.0      0.0
A.J. Green    Cardinals     WR   0.000000      0.0      0.0      0.0
A.J. McCarron Texans        QB   0.000000      0.5      0.0      0.0
AJ Dillon     Packers       RB   0.058824      0.0      0.0      0.0
Aaron Jones   Packers       RB   0.066667      0.0      0.0      0.0

                                Avg_PPRFantasyPoints  ... Team_Tgt           \
Year                                        year - 3  ... year - 3 year - 2
Player        Max_Team_Name Pos                       ...
A.J. Brown    Titans        WR              13.56875  ...    406.0    462.0
A.J. Green    Cardinals     WR               0.00000  ...      0.0    563.0
A.J. McCarron Texans        QB               8.45000  ...    509.0    500.0
AJ Dillon     Packers       RB               0.00000  ...      0.0    492.0
Aaron Jones   Packers       RB              19.67500  ...    509.0    492.0

                                          Tgt_prop                      \
Year                            year - 1  year - 3  year - 2  year - 1
Player        Max_Team_Name Pos
A.J. Brown    Titans        WR     435.0  0.206897  0.229437  0.241379
A.J. Green    Cardinals     WR     482.0  0.000000  0.184725  0.190871
A.J. McCarron Texans        QB       0.0  0.000000  0.000000  0.000000
AJ Dillon     Packers       RB     555.0  0.000000  0.002033  0.066667
Aaron Jones   Packers       RB     555.0  0.131631  0.128049  0.117117

                                Weeks_Played                   Current_Year
Year                                year - 3 year - 2 year - 1
Player        Max_Team_Name Pos
A.J. Brown    Titans        WR          16.0     14.0     13.0         2022
A.J. Green    Cardinals     WR           0.0     16.0     16.0         2022
A.J. McCarron Texans        QB           2.0      2.0      0.0         2022
AJ Dillon     Packers       RB           0.0     10.0     17.0         2022
Aaron Jones   Packers       RB          16.0     14.0     15.0         2022

[5 rows x 166 columns]

In [34]:
pivot_df_full.to_csv('pivoted_player_plus_team_data.csv')

In [ ]:
pivot_df_full_copy.head()